# Mac
.DS_Store

# Jupyter notebook checkpoints
*.ipynb_checkpoints

# data files
*.csv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
instance/
.webassets-cache

# React frontend
/frontend/node_modules
/frontend/dist
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.vscode
/frontend/.vite

# (Optional) lock files if you don't want to commit them
/frontend/package-lock.json
/frontend/yarn.lock
